@tailwind base;
@tailwind components;
@font-face {
  font-family: "Segoe UI";
  src: url('/fonts/segoe/SEGOEUI.TTF');
}
@font-face {
  font-family: "Graphik-regular";
  src: url("/fonts/graphik/Graphik-Regular-Web.woff2");
}
@font-face {
  font-family: "Graphik-medium";
  src: url("/fonts/graphik/Graphik-Medium-Web.woff2");
}
@font-face {
  font-family: "Graphik-semibold";
  src: url("/fonts/graphik/Graphik-Semibold-Web.woff2");
}


@tailwind utilities;